<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="home.html">
<font size="20">💎</font>

</a>

</div>


<div class "page-header">
    <h1 class="text-center" style="color:white">Welcome</h1>
		<center><p style="border:1px; border-style:solid; border-color:#4286f4; padding: 0.5em; background:black;"><font size="6" color="white">Your crypto, your reality, OCUVULT. <br><br> <a href="/register"> Create a Vault </a> to become an alpha tester.<br><br>Contact: &nbsp<a href="mailto:austin@ocuvult.com"> 📨 austin@ocuvult.com</a> &nbsp&nbsp<a href="http://www.austinmagnuson.com">🌐 austinmagnuson.com</a><br><br>Development: &nbsp<a href="https://github.com/ocuvult/OCUVULT">📁 Source Code</a></font></p></center>
</div>
