<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




</div>


<div class "page-header">
    <a href="home.html" style="text-decoration:none;"><h1 class="text-center" style="color:white">O C U V U L T</h1></a>
<center>
<p style="border:1px; border-style:solid; border-color:#4286f4; padding: 0.5em; background:black;"> <font size="6" color="white" style="text-decoration:none;"><br><a href="/register">➕ Create Vault. </a><br><a href="https://github.com/ocuvult/OCUVULT">📁 Source Code</a><br><a href="/api">💻 API</a><br> &nbsp</font> </p>
</center>
</div>
