<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="home.html">
<font size="20" color="red">✨</font>

</a>

</div>


<div class "page-header">
    <h1 class="text-center" style="color:white">Welcome</h1>
		<center><p style="border:1px; border-style:solid; border-color:#4286f4; padding: 0.5em; background:black;"><font size="4" color="white">Ocuvult is a transaction protocol and media streaming platform. <a href="/register"> Create a Vault </a> to become an alpha tester. <br><br> Ocuvult is now <a href="https://github.com/ocuvult">open source!</a><br><br> Contact: &nbsp&nbsp&nbsp&nbsp austin@ocuvult.com &nbsp&nbsp&nbsp&nbsp austinmagnuson.com</font></p></center>
</div>
