<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
<script src="sketch.js"></script>
</head>
<body>
  
<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
<a href="home.html" style="text-decoration:none;"><h1 class="text-center" style="color:white">O C U V U L T</h1></a>
 
</div>

<div class "page-header">
    <a href="" style="text-decoration:none;"><h1 class="text-center" style="color:red">In Development</h1></a>
    

</div>

<video id ="vid" autoplay></video>

<script>

navigator.mediaDevices.getUserMedia({
  video: true
})
.then(stream => {
  document.getElementById("vid").srcObject = stream;
})

</script>

</body>
</html>
