@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 250px;
  margin-left: 300px;
  background: black;
  background-color:transparent !important;
}


main {
  padding-top:30px;

}

body {
  background: #000000 url(https://cdn-images-1.medium.com/max/1600/1*FK5TuNES4Csi0PK_9_T3qA.gif) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.glyphicon {
    font-size: 50px;
}

.showmore {
  display: inline;
}

.logo {
  margin-top: 3.5%;
  margin-left: 46.5%;
}

.navbar {
  /*background-color: #FFFFFF;*/
  background: #000000 url(https://raw.githubusercontent.com/MagnumSun/home/master/img/circle2.gif) center no-repeat;
  background-size: 500px;
  height: 250px;
  /* border-color: blue; */

  -webkit-box-shadow: -2px 8px 110px -8px rgba(0,34,255,1);
  -moz-box-shadow: -2px 8px 110px -8px rgba(0,34,255,1);
  box-shadow: -2px 8px 110px -8px rgba(0,34,255,1);
  /*background-color:transparent !important;*/
}

/* .navbar-brand {
  margin-top: -65px;
  margin-left: 85px;
} */

.nav {
  position: absolute;
  left: 0%;
  top: 12%;
  {text-decoration: none}

}

.nav1 {
  position: absolute;
  right: 10%;
  top: 5%;
  {text-decoration: none}

}

ul {
  list-style: none;
}

.show-hide-message.ng-hide-remove {
  -webkit-animation:zoomIn 0.3s both ease;
  -moz-animation:zoomIn 0.3s both ease;
  animation:zoomIn 0.3s both ease;
}

.spinner {
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
  animation:spin 1s infinite;
}

@keyframes spin {
    from { transfrom:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transfrom:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transfrom:rotate(0deg); }
  to { -moz-transform:rotate(360deg); }
