<meta name="viewport" content="width=980">

<a href="home.html">

<font size="20" color="blue">🧞‍♂️</font>
 
</a>

<div class "page-header">
    <h4 class="text-center" style="color:white">If the email you enter is associated with an account you will recieve its username and a new password.</h4>
</div>

<div align="center">
  <form action="https://formspree.io/austinlmagnuson@gmail.com"
      method="POST">
    <input type="text" name="name" placeholder= "please enter your email">
    <input type="submit" value="Submit">
</form>
</div>
