<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
<a href="home.html" style="text-decoration:none;"><h1 class="text-center" style="color:white">O C U V U L T</h1></a>
 
</div>

<div class "page-header">
    <h1 class="text-center" style="color:silver">Login</h1>
</div>

<div align="center">
<form ng-submit = "main.doLogin(loginData);">

    <label style="color:silver">Username:</label>
    <input class="form-control" style="width:30%;" type="text" name="username" placeholder="please enter username" ng-model="main.loginData.username">
    <br>
    <label style="color:silver">Password:</label>
    <input class="form-control" style="width:30%;" type="password" name="password" placeholder="please enter password" ng-model="main.loginData.password">
    <br>
    <button class="btn btn-primary" type='submit'>Login</button>&nbsp
		<a href="/forgot"><button type="button" class="btn btn-info">Forgot User/Pass?</button></a>
    <!-- <button type="button" class="btn btn-success" ng-click="main.facebook();">Facebook</button>&nbsp
    <button type="button" class="btn btn-warning" ng-click"main.twitter();">Twitter</button> -->
</from>
</div>

<br>

<div class= "jumbotron text-center" ng-show="main.loading">
    <span class = "glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{ main.errorMsg }}</div>
</div>
