<meta name="viewport" content="width=980">

<div class "page-header">
    <h1>Login</h1>
</div>

<form ng-submit = "main.doLogin(loginData);">

    <label>Username:</label>
    <input class="form-control" style="width:30%;" type="text" name="username" placeholder="please enter username" ng-model="main.loginData.username">
    <br>
    <label>Password:</label>
    <input class="form-control" style="width:30%;" type="password" name="password" placeholder="please enter password" ng-model="main.loginData.password">
    <br>
    <button class="btn btn-warning" type='submit'>Login</button>&nbsp
    <!-- <button type="button" class="btn btn-success" ng-click="main.facebook();">Facebook</button>&nbsp
    <button type="button" class="btn btn-warning" ng-click"main.twitter();">Twitter</button> -->
</from>

<br>

<div class= "jumbotron text-center" ng-show="main.loading">
    <span class = "glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{ main.errorMsg }}</div>
</div>

<!-- <div class="row show-hide-message" ng-show="facebook.errorMsg">
    <div class="alert alert-danger">{{ facebook.errorMsg }}</div>
</div> -->
