<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
<a href="home.html">
<font size="20" style="text-decoration:none;">💎</font>

</a>
 
</div>

<div class= "jumbotron text-center" ng-show="main.loading">
    <span class = "glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>

<div class="panel panel-primary" style= "position: absolute; top: 400px; left: 45%;">

  <div class="panel-heading">
       <strong>Vault</strong>
  </div>
  <table class="table">
  <tr>

      <th>
       <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Your Crypto Wallets
         <span class="caret"></span></button>
        <ul class="dropdown-menu">
         <li><a href="#">(OCU) Ocuvult:&nbsp<img src="./assets/img/Asset 5.svg" style="width:40px;height:60px;" align=center alt="" />&nbsp&nbsp{{ main.ocuvult }}</li>
<li><a href="/home">(BTC) Bitcoin:&nbsp<img src="./assets/img/397BB70C-72BB-4F34-8891-576572AA8FB6.png" style="width:45px;height:45px;" align=center alt="" />&nbsp&nbsp{{  }}</li>
        </ul>
      </div>
     </th>

  </tr>

  </table>
</div>

<br>


