<meta name="viewport" content="width=980">

<div style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
<a href="home.html">
<font size="20" style="text-decoration:none;">💎</font>

</a>
 
</div>

<div class= "jumbotron text-center" ng-show="main.loading">
    <span class = "glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>

<div class="panel panel-primary" style="position: absolute; top: 400px; left: 16%;">

  <div class="panel-heading">
       <strong>Vault</strong>
  </div>
  <table class="table">
  <tr>

      <th>
       <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Your cryptocurrencies
         <span class="caret"></span></button>
        <ul class="dropdown-menu">
         <li><a href="#">(OCU) Ocuvult:&nbsp<img src="./assets/img/Asset 5.svg" style="width:40px;height:60px;" align=center alt="" />&nbsp&nbsp{{ main.ocuvult }}</li>
        </ul>
      </div>
     </th>

  </tr>

  </table>
</div>

<br>

<div style="position: absolute; top: 400px; left: 34.5%;">
  <form action="https://formspree.io/austinlmagnuson@gmail.com"
      method="POST">
    <input type="text" name="name" value= "{{ main.username }} (OCU)" readonly>
    <input type="text" name="name" placeholder= "OCU/ACT">
    <input type="number" step="any" name="name"  placeholder= "amount">
    <input type="text" name="name" placeholder= "username/address">
    <input type="submit" value="Send">
</form>
</div>

<div style="position: absolute; top: 450px; left: 34.5%;">
<p style="border:1px; border-style:solid; border-color:#4286f4; padding: 0.3em; background:black;"><font size="2em" color="white">
  You will recieve a confirmation email asking if  you would like to send the funds to the user/address
  that you specified in the form above. <br> After you reply yes to the email the funds will be transferred.
  It may take up to 24 hours for your order to process.<br>
</font></p>
</div>
